table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
caption, th, td {
  padding: 10px;
}
.notation {
  width: 300px;
  font-size: 10px;
}
.notation:hover {
  font-size: 20px;
  width: 500px;
}